useDynLib("ppgmmga", .registration = TRUE)

#exportPattern("^[[:alpha:]]+")
#importFrom("Rcpp", evalCpp)
importFrom("Rcpp", sourceCpp)
#import("RcppArmadillo")

import("mclust", "GA", "ggplot2", "ggthemes")
importFrom("grDevices", "nclass.Sturges")
importFrom("stats", "princomp", "qchisq", "qnorm")
importFrom("utils", "packageVersion")
  
export(ppgmmga, print.ppgmmga, summary.ppgmmga,
       print.summary.ppgmmga, plot.ppgmmga)
S3method("print", "ppgmmga")
S3method("summary", "ppgmmga")
S3method("print", "summary.ppgmmga")
S3method("plot", "ppgmmga")

importFrom("stats", "prcomp")

## Options
#export(.ppgmmga.default,.ppgmm.plot.default)
export(ppgmmga.options, ppgmmga.options.restore)
#export(ppgmmga.plot.options)

## Functions
export(EntropyGMM, NegentropyGMM, NegentropyPCA)
#export(encodeBasis)

